:host {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    padding: 0px 0px 10px 0px;
    text-align: center;
}

div.head {
    width: 140px;
    font-size: 90%;
    color: #007bff;
    user-select: none;
}

div.btn {
    width: 40px;
    font-size: 90%;
    color: #007bff;
    cursor: pointer;
}