<div *ngIf="day.date" (click)="selectDay($event)" [ngClass]="{'now': isNow, 
                                                              'weekend': isWeekEnd, 
                                                              'selected': day.isSelect }">
    {{day.date | date: 'dd'}}
    <app-task-indicator *ngIf="taskLoad" [ngClass]="{'deficiency': day.workTime > 0, 
                                                     'complete': day.workTime === 8, 
                                                     'upward': day.workTime > 8,
                                                     'excess': day.workTime > 24 }">
    </app-task-indicator>
</div>