:host {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 8px 0px 8px 0px; 
}

div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch; 
    margin-right: 8px; 
}

img {
    width: 18px;
    height: 18px;
    margin-right: 8px;
    padding: 0px 0px;
}

label.header {
    font-size: 60%;
    color: #007bff;
}

label.data {
    text-align: left;
    font-size: 80%;
    width: 100px;
}

label.data.task {
    width: 50px;
}
label.data.time {
    width: 50px;
}

label.data.comment {
    width: 150px;
}