<h2>Autorization</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="username">User name:</label>
        <input type="text" formControlName="username" [ngClass]="{ 'error': submitted && controls.username.errors }" />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" formControlName="password" [ngClass]="{ 'error': submitted && controls.password.errors }" />
    </div>
    <div>
        <button [disabled]="loading" >Login</button>
    </div>
</form>