header {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 

    color: #fff;
    text-align: center;
    background-image: linear-gradient(120deg, #182978, #22A9B6);
} 

header img {
    width: 50px;
}

header h1 {
    font-weight: 400;
}

main {
    padding: 2rem; 
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
}

app-logged-user{
    width: 100%;
    text-align: right;
}