:host {
    flex: 1;
    border: 2px solid #f9f9f9;
    // margin-top: -1px;
    // margin-left: -1px;
  }

  div {
    padding: 10px;
  }
  .weekend {
    color: #d40217;
    background-color: #f8d7da;
  }