header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    background-image: linear-gradient(120deg, #182978, #22A9B6);
}

header h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: 2.5rem;
}

header img {
    padding: 0px 20px;
}

main {
    padding: 2rem 1rem;
    margin-bottom: 1rem;
    background-color: #e9ecef;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

body {
    margin: 0;
    font-family: "Segoe UI";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

form label {
    font-size: 70%;
}

form input {
    display: block;
    width: 100%;
    height: calc(1rem + 6px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
}

form input.error {
    background-color: #f8d7da;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    vertical-align: middle;
}

a img {
    width: 20px;
    padding: 0px 10px;
}

button {
    margin: 0;
    font-family: inherit;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.3rem 0.7rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}